// Site variables.

$screen-xs:            600px;
$content-width:        600px;
$content-width-wide:   1200px;

$font-family-heading:  'Lato', sans-serif;
$font-family-body:     'Open Sans', sans-serif;
$font-family-special:  'Open Sans', sans-serif;
